{% extends "main/base.html" %}
{% load static from staticfiles %}

{% block title %}
<title>О компании</title>
{% endblock %}
    
{% block content %}
<div class="main">
<h1>О компании</h1>
<h2>Ларин Сергей Андреевич</h2>
<ul>
    <li>Практикующий юрист</li>
    <li>Директор Юридического бюро «Аргументъ»</li>
    <li>Два высших образования, юридический диплом с отличием</li>
    <li>The Professional Certificate in MANAGMENT выданный The Open University (Великобритания)</li>
    <li>Курс менеджер-профессионал в Международном институте менеджмента «ЛИНК»</li>
    <li>Школа бизнеса «ДИПОЛЬ»</li>
</ul>
<h3>Цель</h3>
<p>Достижение нужного для клиента результата путем оказания юридических услуг высокого качества.</p>

<h3>Миссия</h3>
<p>Создание максимально благоприятных правовых условий для жизни и развития бизнеса наших клиентов путем оказания всесторонней квалифицированной юридической помощи и правовых услуг.</p>

<h3>Юридическая специализация и качество правовых услуг</h3>
<p>Юридическое бюро «Аргументъ» оказывает квалифицированные юридические услуги, специализируясь в области гражданского, арбитражного, корпоративного, административного права, банкротства, строительства, недвижимости, транспорта, юридического консалтинга. Для поддержания высокой профессиональной квалификации в Юридическом бюро «Аргументъ» разработана и внедрена собственная уникальная система менеджмента качества юридических услуг. В состав компании входят только юристы-профессионалы. Юридическое бюро «Аргументъ» предоставляет юридические услуги неизменно высокого качества. Более 80% судебных дел, проведенных Юридическим бюро «Аргументъ», входят в категорию сложных и особо сложных.</p>

<h3>Юридическая практика</h3>
<p>Юридическое бюро «Аргументъ» ведет судебную практику и представляет интересы клиентов в судебных органах по всему Поволжью (Саратов, Самара, Волгоград, Пенза, Астрахань, Казань), в Тамбове, Воронеже, Москве и Санкт-Петербурге.</p>
</div>
<div class="slidebar">
<p><img src="{% static 'main/img/boss.png' %}" alt="Генеральный директор" title="Генеральный директор"></p>
</div>
{% endblock %}
