{% extends "main/base.html" %}
{% load static from staticfiles %}

{% block title %}
<title>Главная</title>
{% endblock %}
    
{% block content %}
<div class="main">
	<p><strong>С 2009 года «Советник»</strong> является полноправным участником международной ассоциации Balms Group International, объединяющей независимые юридические компании международного профиля более чем из 40 стран мира.</p>
	<p><strong>С сентября 2013 года ООО «Советник»</strong> является уполномоченной юридической компанией Гильдии риэлторов Московской области, объединяющей более 160 компаний, связанных с оказанием услуг в сфере недвижимости.</p>
    <p><strong>В 2014 году компания «Советник»</strong> рекомендована международным изданием Global Law Experts, как ведущая российская юридическая компания в области сопровождения сделок с недвижимостью.</p>
    <p>Деятельность нашего бюро направлена, прежде всего, на обеспечение юридической защиты бизнеса.</p>
    <p>Для нас не существует непосильных задач и недостижимых целей. Вся наша деятельность  направлена на успешное функционирование и развитие Вашего бизнеса в современных условиях украинского рынка.</p>
	<h2>Предоставляемые услуги</h2>
	<ul>
		<li>Абонентское юридическое обслуживание</li>
		<li>Проведение процедуры Due Diligence: due diligence компании, проверка юридической чистоты объектов недвижимости</li>
		<li>Представительство в суде</li>
		<li>Юридическое сопровождение сделок с недвижимостью</li>
		<li>Сопровождение сделок слияния и поглощения (сделки M&A), решение вопросов реструктуризации бизнеса</li>
		<li>Гражданский и арбитражный процесс</li>
		<li>Оказание услуг по взысканию задолженности</li>
		<li>Решение споров в области профессиональной деятельности на рынке ценных бумаг</li>
		<li>Защита товарных знаков, защита  авторских прав, патентные споры</li>
		<li>Анализ документов, подготовленных Клиентом или для Клиента</li>
    </ul>
</div>
<div class="slidebar">
	<p><img src="{% static 'main/img/molodoi.png' %}" alt="Генеральный директор" title="Генеральный директор"></p>
	<p><strong>Николай Иванов</strong><br/>генеральный директор</p>
	<blockquote>За годы работы нашего бюро юридических услуг, мы помогли найти решение юридических проблем нескольким сотням наших клиентов. За это время мы приняли участие более, чем в тысяче судебных заседаний по защите их интересов, успешно разрешили дела абсолютного большинства наших клиентов. Мы надеемся, что наш опыт и знания будут полезны </blockquote>
</div>
{% endblock %}
