{% extends "main/base.html" %}
{% load static from staticfiles %}

{% block title %}
<title>Новости</title>
{% endblock %}
    
{% block content %}
<h1>Новости</h1>
<div class="news-item">
	<div class="photo">
		<p><img src="{% static 'main/img/header_5-3.jpg' %}" alt="Новость" title="Новость"></p>
	</div>
	<div class="content">
		<p><strong>5 марта 2018</strong></p>
		<p>Читайте в свежем выпуске "Юридической рассылки о недвижимости"</p>
		<ol>
		<li>Новости законодательства</li>
			<ul>
				<li>Минэкономразвития поможет разобраться с определением статуса недвижимости</li>
				<li>Нанимателям квартир вернут уплаченные налоги</li>
				<li>Правительство одобрило замену собраний жильцов конференциями</li>
			</ul>
		<li>Судебная практика</li>
			<ul>
			<li>Если установлено, что подпись на договоре подделана неустановленным лицом, договор не является ничтожным по ст.168 ГК</li>
			<li>ВС напомнил, когда изменить исковую давность не получится</li>
			</ul>
		<li>Полезная юридическая информация. Примеры из практики</li>
			<ul>
			<li>Жилье в дар: как и кому можно передать свою недвижимость</li>
			<li>Количество объектов аренды в договоре не влияет на размер госпошлины при его регистрации</li>
			</ul>
		</ol>
		<p><a href="http://www.yurbureau.ru/userfiles/files/Uridicheskaya_rassilka_o_nedvigimosti_5-18_02_2018.pdf">Перейти к выпуску</a></p>
	</div>
</div>
<div class="news-item">
	<div class="photo">
		<p><img src="{% static 'main/img/header_2-2.jpg' %}" alt="Новость" title="Новость"></p>
	</div>
	<div class="content">
		<p><strong>27 декабря 2017</strong>  /  Выходные дни</p>
		<p>Уважаемые коллеги и клиенты!
		<p>Обращаем Ваше внимание, что с 30.12.2017 по 8.01.2018 коллектив компании "Юридическое бюро" находится на новогодних каникулах.</p>
		<p>Пришло время отдохнуть, чтобы с новыми силами продолжить любимое дело уже в новом году.</p>
		<p>До встречи в новом 2018 году!</p>
	</div>
</div>
{% endblock %}
